{% extends "base.html" %}
{% load static %}

{% block title %}
PNULikeLion-applyform
{% endblock %}

{% block extra_head %}
<link rel="Stylesheet" type="text/css" href="{% static 'css/apply_detail.css' %}?dt={% now 'U' %}">

{% endblock %}


{% block contents %}
{% if user.profile.applyform %}
<h1>
    지원서 수정
</h1>
{%else%}
<h1>
    지원서 작성
</h1>
{%endif%}
<div>

    <div class="card custom_card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{user.profile.name}}({{user}}/{{user.profile.m_or_f}})</li>
            <li class="list-group-item">전공 : {{user.profile.major}}</li>
            <li class="list-group-item">휴대폰 : {{user.profile.phone_number}}</li>
            <li class="list-group-item">이메일 : {{user.profile.email}}</li>
        </ul>
            <a href="{% url 'profile_update' %}">
                <button type="button" class="btn btn-dark">프로필 수정</button>
            </a>
    </div>

</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for i in form%}
            {%if i.label != "Author" %}
            <div class="apply_detail_compo">
                <div class="apply_label">
                    {{forloop.counter0}} . {{i.label}}
                    <div class="apply_errors">
                        {{i.errors}}
                    </div>
                </div>
                {%if i.label == "본인을 나타낼 수 있는 포트폴리오를 첨부해주세요 ( URL의 경우 캡쳐후 첨부 )" %}

                {{i}}
                <div class="cus-file-upload-box">
                    <label id="fake-file-route-box" for="customFile">
                        <input type="text"  readonly="readonly" id="fake-file-route">
                    </label>
                    <label class="cus-file-label" for="customFile" id="fake">
                        <div class="fake-file-btn">
                            파일첨부
                        </div>
                    </label>
                </div>
                {%else%}
                    {{i}}
                {%endif%}
                {%if i.label != "본인을 나타낼 수 있는 포트폴리오를 첨부해주세요 ( URL의 경우 캡쳐후 첨부 )" %}

                <div class="text-counting"></div>
                {%endif%}
            </div>
            {%else%}
                <input type="hidden" name="author" value={{user.profile.id}}>

            {%endif%}

    {%endfor%}
    
    <input type="submit" class="btn btn-dark custom_submit" value="제출">
</form>
    <script src="{% static 'js/fileupload.js'%}"></script>
    <script src="{% static 'js/counting_text.js'%}"></script>

{% endblock %}