{% extends "base.html" %}
{% load static %}

{% block title %}
PNULikeLion-apply_list
{% endblock %}

{% block extra_head %}
<link rel="Stylesheet" type="text/css" href="{% static 'css/apply_list.css' %}?dt={% now 'U' %}">

{% endblock %}


{% block contents %}
{% for i in apply_all%}
    <a href="{% url 'apply_detail' i.id %}">
        <div class="card custom_card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{i.author.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{i.author.user}}/{{i.author.major}}</h6>
                <p class="card-text">{{i}}</p>
            </div>
        </div>
    </a>
   


    {%endfor%}

{% endblock %}