{% extends "base.html" %}
{% load static %}

{% block title %}
PNULikeLion-applyform
{% endblock %}

{% block extra_head %}
<link rel="Stylesheet" type="text/css" href="{% static 'css/apply.css' %}?dt={% now 'U' %}">

{% endblock %}


{% block contents %}
<h1>
    현재 접속자
</h1>
<div>

    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{user.profile.name}}({{user}}/{{user.profile.m_or_f}})</li>
            <li class="list-group-item">전공 : {{user.profile.major}}</li>
            <li class="list-group-item">휴대폰 : {{user.profile.phone_number}}</li>
            <li class="list-group-item">이메일 : {{user.profile.email}}</li>
        </ul>
    </div>
    <button type="button" class="btn btn-dark">프로필 수정</button>

</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{error}}
    {% for i in form%}
    {%if i.label != "Author" %}
    
    <div class="apply_label">
        {{forloop.counter0}} . {{i.label}}
    </div>
    {{i}}
    {%else%}
        <input type="text" name="author" value={{user.profile.id}}>

    {%endif%}

{%endfor%}
    
    <button type="submit" class="btn btn-dark">제출</button>
</form>

{% endblock %}