{% extends "base.html" %}
{% load static %}

{% block title %}
PNULikeLion-apply_detail
{% endblock %}

{% block extra_head %}
<link rel="Stylesheet" type="text/css" href="{% static 'css/apply_detail.css' %}?dt={% now 'U' %}">

{% endblock %}


{% block contents %}
    <h4 class="my_info_title">내 지원서</h4>
    <div class="card custom_card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{apply_one.author.name}}  ({{user}}) | {{apply_one.author.m_or_f}}</li>
            <li class="list-group-item">전공 : {{apply_one.author.major}}</li>
            <li class="list-group-item">휴대폰 : {{apply_one.author.phone_number}}</li>
            <li class="list-group-item">이메일 : {{apply_one.author.email}}</li>
        </ul>
        <button type="button" class="btn btn-dark">프로필 수정</button>
    </div>
   

    <div class="apply_detail_compo">
        <div class="apply_label">• 자기소개 및 지원동기(최대 1000자)</div>
        <div class="form-control">
{{apply_one.introduce}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 기획자/개발자/디자이너 중 가장 본인에게 가깝다고 생각하는 것을 고르고, 관련 근거를 서술하시오(최대 500자)</div>
        <div class="form-control">
{{apply_one.position}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 코딩을 배워서 무엇을 하고 싶은지 구체적으로 서술하시오(최대 500자)</div>
        <div class="form-control">
{{apply_one.goal}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 향후 1년계획 (학생회,동아리,아르바이트 등 최대 500자)</div>
        <div class="form-control">
{{apply_one.plan}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 참여했던 팀 활동 중 가장 기억에 남는 경험과 느낌점을 서술하시오(최대500자)</div>
        <div class="form-control">
{{apply_one.team}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 본인은 멋쟁이사자처럼 동아리내 어떤 캐릭터일지 서술하시오(최대 500자)</div>
        <div class="form-control">
{{apply_one.concept}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 본인을 나타낼 수 있는 포트폴리오를 첨부해주세요(URL의 경우 캡쳐후 첨부)(선택)</div>
        <div class="form-control">
{{apply_one.portfolio}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 면접가능시간( 3월 28일(토), 3월 29일(일) )을 작성해주세요</div>
        <div class="form-control">
{{apply_one.interview}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 프로그래밍 경험이 있다면 기술스택과 수준을, 프로그래밍 경험이 없다면 기대감과 각오를 적어주세요</div>
        <div class="form-control">
{{apply_one.experience}}
        </div>
    </div>
    <div class="apply_detail_compo">
        <div class="apply_label">• 학기 고정스케줄(요일&시간)</div>
        <div class="form-control">
{{apply_one.schedule}}
        </div>
    </div>





{% endblock %}