{% extends "base.html" %}
{% load static %}

{% block title %}
PNULikeLion-apply
{% endblock %}

{% block extra_head %}
<link rel="Stylesheet" type="text/css" href="{% static 'css/index.css' %}?dt={% now 'U' %}">
{% endblock %}

    {%block background%}
    <div class="bg_img"><img src="{% static 'image/main_img.png' %}"></div>

    {%endblock%}
{% block contents %}
  <div id="home" class="intro route bg-image">
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">PNU X LIKELION</h1>
          <p class="intro-subtitle"><span class="text-slider-items">LikeLion, Pusan University, Fullstack Developer, Graphic Designer, Product Manager, StartUp</span><strong class="text-slider"></strong></p>
          <p class="pt-3">
            {%if user.profile.applyform %}
            <a class="btn btn-primary btn-lg js-scroll px-4" href="{% url 'apply_edit' user.profile.applyform.id  %}" role="button">Edit!</a>

                {%else%}
                <a class="btn btn-primary btn-lg js-scroll px-4" href="{% url 'apply' %}" role="button">APPLY!</a>
                {%endif%}
            </p>
        </div>
      </div>
    </div>
  </div>

<section class="countdown-container">

    <div class="days-container">
        <div class="days"></div>
        <div class="days-label">days</div>
    </div>

    <div class="hours-container">
        <div class="hours"></div>
        <div class="hours-label">hours</div>
    </div>

    <div class="minutes-container">
        <div class="minutes"></div>
        <div class="minutes-label">minutes</div>
    </div>

    <div class="seconds-container">
        <div class="seconds"></div>
        <div class="seconds-label">seconds</div>
    </div>

</section>
<!-- <div class="black_sec"></div> -->
<!-- <div class="main_list"> -->
    <!-- 홍보영상 -->
<!-- </div>
<div class="main_list_line"></div>
<div class="main_list_subline"></div> -->

<div class="video_cont">
    <video src="{% static 'video/likelion_promt.mp4' %}" width="100%" loop="loop" muted controls autoplay></video>
</div>
<img id="index_poster" src="{% static 'image/포스터.jpg' %}">
    <script src="{% static 'js/countdown.js'%}"></script>

{% endblock %}