{% extends "base.html" %}
{% load static %}

{% block title %}
PNULikeLion-apply
{% endblock %}

{% block extra_head %}
<link rel="Stylesheet" type="text/css" href="{% static 'css/index.css' %}?dt={% now 'U' %}">
{% endblock %}

{% block contents %}

  <div id="home" class="intro route bg-image" style="background-image: url(img/intro-bg.jpg)">
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">PNU X LIKELION</h1>
          <p class="intro-subtitle"><span class="text-slider-items">LikeLion, Pusan University, Web DevOps, Fullstack Developer, Graphic Designer</span><strong class="text-slider"></strong></p>
          <p class="pt-3"><a class="btn btn-primary btn-lg js-scroll px-4" href="{% url 'apply' %}" role="button">APPLY!</a></p>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="black_sec"></div> -->
<!-- <div class="main_list"> -->
    <!-- 홍보영상 -->
<!-- </div>
<div class="main_list_line"></div>
<div class="main_list_subline"></div> -->

<div class="video_cont">
    <video src="{% static 'video/likelion_promt.mp4' %}" width="100%" loop="loop" muted controls autoplay></video>
</div>
{% endblock %}