.custom_card{
    display: inline-flex;
    margin-top:20px;
    margin-bottom:30px;
    background-color: black;
}
.custom_card .list-group-item{
    background-color: black;
    border-color: white;
    margin:1px 0;
}
.custom_card button{
    width:50%;
    margin-top:20px;
    margin-left:50%;
}
.custom_container{
    color:white;
}
.my_info_title{
    color:white;
}
.apply_label{
    padding:15px 0;
}
.apply_detail_compo{
    margin:20px 0;
}
.form-control{
    background-color: #ccc;
}
.custom_card button{
    background-color: #34558b;
}
.apply_label{
    font-size:0.85rem;
}
.readonly_form{
    height:auto;
}

.custom_submit{
    
    float: right;

}