@charset "utf-8";

/* 초기화 */
html,body{
    margin:0;
    padding:0;
}

/* 링크 데코레이션 none */
a { text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black;}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; } 

.white_text{
    color:white !important;
}
footer{
    background: #34558b;
    color: white;
    text-align: left;
    line-height: 2;
    font-size:0.8rem;
    font-weight: bold;
    padding: 40px 0;
}
nav img {
    height:50px;
}
.bg-dark {
 background-color: black !important;
}

.custom_container{
    margin:150px 0;
    color:white;
}

html,body{
    background-color: black !important;
    /* height: 100vh; */
}

.ft_icon{
    width: 20px;
    margin-right: 10px;
}

.footer_list_cont{
    width: 320px;
    /* border: 1px red solid; */
    margin: 0 auto;
}

.kakao_icon{
    width:50px;
<<<<<<< HEAD
    box-shadow: 0px 0px 8px 2px white;
    border-radius: 12px;
=======
}

@media(max-width:768px){
 .footer_list_cont{
     text-align: center;
 }   
}

/* 파란색깔 바꿀꺼임 */
.navbar-b.navbar-reduce .navbar-brand,
.navbar-b.navbar-reduce .nav-link{
    color:#34558b !important;
>>>>>>> f6926e6346e644083b8a1cd0aab8c74158b4cef9
}