.video_cont{
    width: 100%;
    margin: 15% auto;
    /* border: red 1px solid; */
    text-align: center;
    position: relative;
    z-index:1;
}


.main_list{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 10px;
    margin-top:50px;
    
}

.main_list_line{
    position: absolute;
    width: 30vw;
    left: 0;
    border-bottom: 5px solid #ff9e1b;
    margin-top: -5px;
}

.main_list_subline{
    position: absolute;
    margin-top: -2px;
    width: 70vw;
    right: 0;
    display: block;
    border-bottom: 1px solid #ff9e1b;
}

.black_sec{
    background: black;
    height: 500px;
}

.bg_img{
    /* border: solid red 1px; */
    position: absolute;
    left: 0;
    /* width: 99vw; */
    z-index: 0;
}
.bg_img >img{
    width: 100%;
}
.table-cell  .btn-primary{
    background-color:#34558b;
    border-color:#34558b;
    color:white;
}

/* ㅇㅇㅇㅇㅇㅇㅇ */




.countdown-container {
  display:flex;
  /* width: 100%; */
  margin:0 auto;
  margin-top:50px;
  justify-content: space-between;
  max-width: 70%;
}

.days-container,
.hours-container,
.minutes-container, 
.seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
  border: 5px solid rgba(255,255,255,0.3);
  width: 140px;
  height: 140px;
  border-radius: 99px;
  z-index:5;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 2.2rem; 
}


.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
  font-size:0.9rem;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
 .countdown-container {

  max-width: 70%;
}

  
  .days-container,
  .hours-container,
  .minutes-container, 
  .seconds-container {
    font-size: 0.8em;
    width: 75px;
    height: 75px;
  }

  .days,
.hours,
.minutes,
.seconds {
  font-size: 1.5rem; 
}


.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
  font-size:0.7rem;
  margin-bottom: 5px;
}
}


@media (max-width: 550px) {
 .countdown-container {

  max-width: 90%;
}
}
@media (max-width: 380px) {
 .countdown-container {

  max-width: 100%;
}
}