{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="APPLY PNU X LIKELION">
    <meta property="og:description" content="PNU_Likelion_Apply - Likelion8th">
    <meta property="og:image" content="이미지 경로">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <title>{% block title %}{% endblock %}</title>

    <link href="pnustatic/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="pnustatic/lib/animate/animate.min.css" rel="stylesheet">
    <link href="pnustatic/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="pnustatic/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="pnustatic/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <link href="pnustatic/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <link rel="Stylesheet" type="text/css" href="{% static 'css/base.css' %}?dt={% now 'U' %}">
    <link rel="Stylesheet" type="text/css" href="{% static 'css/style.css' %}?dt={% now 'U' %}">


    {% block extra_head %}{% endblock %}

    
</head>
<body id="page-top">


    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
        <!-- <div class="container"> -->
          <a class="navbar-brand js-scroll" href="{% url 'index' %}">PNU X LIKELION</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link js-scroll" href="#">
                      {{user}}
                  </a>
              </li>
              {% if user.is_superuser %}
              <li class="nav-item">
                  <a class="nav-link js-scroll" href="{% url 'tjh_show_apply'%}">
                     전체 지원서
                  </a>
              </li>
              {%endif%}
              
              {% if user.profile.applyform %}
              <li class="nav-item">
                  <a class="nav-link js-scroll" href="{% url 'apply_detail' user.profile.applyform.id %}">
                      내 지원서
                  </a>
              </li>
              {%endif%}
              <li class="nav-item">
                  {%if user.profile.applyform %}
                  <a class="nav-link js-scroll" href="{% url 'apply_edit' user.profile.applyform.id %}">수정하기</a>
                  {%else%}
                  <a class="nav-link js-scroll" href="{% url 'apply' %}">지원하기</a>
                  {%endif%}
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll" href="{% url 'logout' %}">로그아웃</a>
              </li>
  
              {% else %}
              
              <li class="nav-item">
                  <a class="nav-link js-scroll" href="{% url 'login' %}">로그인/회원가입</a>
              </li>
                  
              {% endif %}

            </ul>
          </div>
        <!-- </div> -->
      </nav>
    

    <div class="container custom_container">
       
    
        {%block contents%}

        {%endblock%}
        <a href="https://open.kakao.com/o/gKPv2K0b/" class="back-to-top" style="display: none;">
            <img class="kakao_icon" src="{% static 'image/kakao.png'%}">
        </a>
    </div>
    
    <footer>
        <div class="footer_list_cont">
            <div class="footer_list">2020 ⓒ PNU LIKELION 8th, All rights reserved</div>
            <div class="footer_list"><img class="ft_icon" src="{% static 'image/mail.png'%}">gt0305@likelion.org</div>
            <div class="footer_list"><img class="ft_icon" src="{% static 'image/phone.png'%}">010-6684-0078</div>
        </div>
    </footer>
 

    <!-- JavaScript Libraries -->
    <script src="pnustatic/lib/jquery/jquery.min.js"></script>
    <script src="pnustatic/lib/jquery/jquery-migrate.min.js"></script>
    <script src="pnustatic/lib/popper/popper.min.js"></script>
    <script src="pnustatic/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="pnustatic/lib/easing/easing.min.js"></script>
    <script src="pnustatic/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="pnustatic/lib/counterup/jquery.counterup.js"></script>
    <script src="pnustatic/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="pnustatic/lib/lightbox/js/lightbox.min.js"></script>
    <script src="pnustatic/lib/typed/typed.min.js"></script>
    <script src="pnustatic/lib/typed/typed.min.js"></script>
    <script src="pnustatic/js/main.js"></script>

</body>
</html>